package {{.Package}}

import (
	"context"
	"database/sql"
	"fmt"

  "github.com/pkg/errors"

	"bou.ke/ctxdb"
	"bou.ke/orm/rel"
)

var ErrNotFound error = errors.New("not found")

type Relation interface {
	// Count ...
	Count(ctx context.Context) (int64, error)

	// DeleteAll ...
	DeleteAll(ctx context.Context) (int64, error)

  // TODO: UpdateAll(ctx context.Context, query string, args ...interface{}) error
}

{{range .Tables}}
type {{.StructName}}Fields struct { {{range .Columns}}
	// {{.FieldName}} ...
	{{.FieldName}} {{.Type}}
{{end}}
}

type {{.StructName}} struct {
	{{.StructName}}Fields

  // If true, then this record exists in the DB
  persisted bool
  deleted   bool

  old {{.StructName}}Fields
}
{{$table := .}}{{range .HasMany}}
func (o *{{$table.StructName}}) {{.RelationName}}() {{.StructName}}Relation {
	return {{.RelationName}}().Where("{{$table.Singular}}_id", o.ID)
}
{{end}}
{{$table := .}}{{range .BelongsTo}}
func (o *{{$table.StructName}}) {{.StructName}}(ctx context.Context) (*{{.StructName}}, error) {
	return {{.RelationName}}().Find(ctx, o.{{.StructName}}ID)
}
{{end}}

func (o *{{.StructName}}) Save(ctx context.Context) error {
  if o.deleted {
    return fmt.Errorf("record deleted")
  }

	if o.persisted {
		stmt := &rel.UpdateStatement{
			Table: {{.Name | printf "%q"}},
			Wheres: []rel.Expr{
        &rel.Equality{
          Field: "id",
          Expr:  &rel.BindParam{Value: o.old.ID},
        },
      },
		}

{{range .Columns}}
    if o.{{.FieldName}} != o.old.{{.FieldName}} {
      stmt.Values = append(stmt.Values, &rel.Assignment{
        Column: {{.Name | printf "%q"}},
				Value: &rel.BindParam{
          Value: o.{{.FieldName}},
				},
      })
    }
{{end}}

		query, values := stmt.Build()
		_, err := ctxdb.Exec(ctx, query, values...)
		if err != nil {
			return errors.Wrapf(err, "executing %q", query)
		}
	} else {
		stmt := &rel.InsertStatement{
			Table: {{.Name | printf "%q"}},
		}
    {{range .Columns}}{{if eq .Name "id"}}
    if o.{{.FieldName}} != 0 { {{end}}
    stmt.Columns = append(stmt.Columns, {{.Name | printf "%q"}})
    stmt.Values = append(stmt.Values, &rel.BindParam{
        Value: o.{{.FieldName}},
    }){{if eq .Name "id"}}
    }{{end}}{{end}}

		query, values := stmt.Build()
		res, err := ctxdb.Exec(ctx, query, values...)
		if err != nil {
			return errors.Wrapf(err, "executing %q", query)
		}
		o.persisted = true

    if o.ID == 0 {
      o.ID, err = res.LastInsertId()
      if err != nil {
        return err
      }
    }
	}

  o.old = o.{{.StructName}}Fields

  return nil
}

func (o *{{.StructName}}) Delete(ctx context.Context) error {
	_, err := {{.RelationName}}().Where("id", o.ID).DeleteAll(ctx)
	if err != nil {
		return err
	}
  o.deleted = true
	return err
}

func (o *{{.StructName}}) fieldPointerForColumn(column string) interface{} {
	switch column { {{range .Columns}}
	case {{.Name | printf "%q"}}:
		return &o.{{.FieldName}}{{end}}
	default:
		return nil
	}
}

func (o *{{.StructName}}) pointersForFields(fields []string) ([]interface{}, error) {
	pointers := make([]interface{}, len(fields))
	for i, field := range fields {
		ptr := o.fieldPointerForColumn(field)
		if ptr == nil {
			return nil, fmt.Errorf("unknown column %q", field)
		}
		pointers[i] = ptr
	}
	return pointers, nil
}

// assignField sets the field to the value.
// It panics if the field doesn't exist or the value is the wrong type.
func (o *{{.StructName}}) assignField(name string, value interface{}) {
	switch name { {{range .Columns}}
	case {{.Name | printf "%q"}}:
		o.{{.FieldName}} = value.({{.Type}}){{end}}
	default:
		panic("unknown field: " + name)
  }
}

type {{.StructName}}Relation interface {
  Relation

  // All ...
	All(ctx context.Context) ([]*{{.StructName}}, error)

  // TODO: Create(ctx context.Context, query string, args ...interface{}) (*{{.StructName}}, error)

  // Find ...
	Find(ctx context.Context, id int64) (*{{.StructName}}, error)

  // FindBy ...
	FindBy(ctx context.Context, query string, args ...interface{}) (*{{.StructName}}, error)

  // First ...
	First(ctx context.Context) (*{{.StructName}}, error)

  // Last ...
	Last(ctx context.Context) (*{{.StructName}}, error)

  // Limit ...
	Limit(limit int64) {{.StructName}}Relation

  // New creates a {{.StructName}} populated with the scope of the relation
  New() *{{.StructName}}

  // Offset ...
	Offset(offset int64) {{.StructName}}Relation

  // Order ...
	Order(query string, args ...string) {{.StructName}}Relation

  // Select ...
	Select(fields ...string) {{.StructName}}Relation

  // Take ...
	Take(ctx context.Context) (*{{.StructName}}, error)

  // Where ...
	Where(query string, args ...interface{}) {{.StructName}}Relation
}

// {{.RelationName}} returns a {{.StructName}}Relation, allowing you to build a query.
// Note: the intermediate result of calls to the Relation can not be reused.
func {{.RelationName}}() {{.StructName}}Relation {
	return &{{.Singular}}Relation{}
}

type {{.Singular}}Relation struct {
	fields      []string
	whereClause []rel.Expr
	orderValues []rel.Expr
	limit       int64
	offset      int64
}

func (q *{{.Singular}}Relation) buildQuery(fields []string) (query string, args []interface{}) {
	columns := make([]rel.Expr, 0, len(fields))
	for _, field := range fields {
		columns = append(columns, &rel.Literal{Text: field})
	}
	s := rel.SelectStatement{
		Columns: columns,
		Table:   "{{.Name}}",
		Wheres:  q.whereClause,
		Orders:  q.orderValues,
		Limit:   q.limit,
		Offset:  q.offset,
	}
	return s.Build()
}

func (q *{{.Singular}}Relation) queryRow(ctx context.Context, dest ...interface{}) error {
	fields := q.columnFields()
	query, args := q.buildQuery(fields)

	return ctxdb.QueryRow(ctx, query, args...).Scan(dest...)
}

func (q *{{.Singular}}Relation) query(ctx context.Context) (*sql.Rows, error) {
	fields := q.columnFields()
	query, args := q.buildQuery(fields)

	return ctxdb.Query(ctx, query, args...)
}

func (q *{{.Singular}}Relation) Count(ctx context.Context) (int64, error) {
	var count int64
  q.fields = []string{"COUNT(*)"}
  err := q.queryRow(ctx, &count)
	return count, err
}

func (q *{{.Singular}}Relation) DeleteAll(ctx context.Context) (int64, error) {
	s := rel.DeleteStatement{
		Table:   "{{.Name}}",
		Wheres:  q.whereClause,
	}

	query, args := s.Build()

  res, err := ctxdb.Exec(ctx, query, args...)
  if err != nil {
		return 0, err
  }
  return res.RowsAffected()
}

func (q *{{.Singular}}Relation) Where(query string, args ...interface{}) {{.StructName}}Relation {
	q.whereClause = append(q.whereClause, &rel.Literal{
		Text: query,
		Params: args,
	})

	return q
}

func (q *{{.Singular}}Relation) Limit(limit int64) {{.StructName}}Relation {
	q.limit = limit
	return q
}

func (q *{{.Singular}}Relation) New() *{{.StructName}} {
	o := &{{.StructName}}{}
	for _, w := range q.whereClause {
		if eq, ok := w.(*rel.Equality); ok {
			if bind, ok := eq.Expr.(*rel.BindParam); ok {
				o.assignField(eq.Field, bind.Value)
      }
    }
  }

	return o
}

func (q *{{.Singular}}Relation) Select(fields ...string) {{.StructName}}Relation {
	q.fields = append(q.fields, fields...)
	return q
}

func (q *{{.Singular}}Relation) Offset(offset int64) {{.StructName}}Relation {
	q.offset = offset
	return q
}

func (q *{{.Singular}}Relation) columnFields() []string {
	if q.fields == nil {
		return []string{ {{range .Columns}}
			"{{.Name}}",{{end}}
		}
	} else {
		return q.fields
	}
}

func (q *{{.Singular}}Relation) All(ctx context.Context) ([]*{{.StructName}}, error) {
	var {{.Name}} []*{{.StructName}}
	rows, err := q.query(ctx)
	if err != nil {
		return nil, err
	}
	defer rows.Close()

	row := &{{.StructName}}{}
  row.persisted = true
  fields, err := rows.Columns()
  if err != nil {
    return nil, err
  }
	ptrs, err := row.pointersForFields(fields)
	if err != nil {
		return nil, err
	}

	for rows.Next() {
		if err := rows.Scan(ptrs...); err != nil {
			return nil, err
		}

		o := &{{.StructName}}{}
		*o = *row

    o.old = o.{{.StructName}}Fields

		{{.Name}} = append({{.Name}}, o)
	}

	return {{.Name}}, rows.Err()
}

func (q *{{.Singular}}Relation) Take(ctx context.Context) (*{{.StructName}}, error) {
  q.limit = 1
  os, err := q.All(ctx)
  if err != nil {
    return nil, err
  }

  if len(os) == 0 {
    return nil, ErrNotFound
  }

  return os[0], nil
}

func (q *{{.Singular}}Relation) Find(ctx context.Context, id int64) (*{{.StructName}}, error) {
	return q.FindBy(ctx, "id = ?", id)
}

func (q *{{.Singular}}Relation) FindBy(ctx context.Context, query string, args ...interface{}) (*{{.StructName}}, error) {
	return q.Where(query, args...).Take(ctx)
}

func (q *{{.Singular}}Relation) First(ctx context.Context) (*{{.StructName}}, error) {
	return q.Order("id ASC").Take(ctx)
}

func (q *{{.Singular}}Relation) Last(ctx context.Context) (*{{.StructName}}, error) {
	return q.Order("id DESC").Take(ctx)
}

func (q *{{.Singular}}Relation) Order(query string, args ...string) {{.StructName}}Relation {
	q.orderValues = append(q.orderValues, &rel.Literal{Text: query})

	for i := 0; i < len(args); i ++ {
		q.orderValues = append(q.orderValues, &rel.Literal{Text: args[i]})
	}

	return q
}{{end}}
